<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<link rel="stylesheet" type="text/css" href="stylesheets/ccstyle.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mesosphere DC/OS AppStudio</title>

</head>
<body bgcolor="#FFFFFF">
	<div id="alldiv" class="dashdiv">
	
        <iframe class="dashframe" src="http://<%= publicnode %>/service/kibana/app/kibana#/dashboard/d1?embed=true&_g=(refreshInterval:('$$hashKey':'object:397',display:'5+seconds',pause:!f,section:1,value:5000),time:(from:now-15m,mode:quick,to:now))&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:7,id:'v1',panelIndex:1,row:1,size_x:6,size_y:8,type:visualization),(col:1,id:'v2',panelIndex:2,row:1,size_x:6,size_y:4,type:visualization),(col:1,id:'v3',panelIndex:3,row:5,size_x:6,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),timeRestore:!f,title:Heartrate,uiState:(P-1:(vis:(legendOpen:!f)),P-2:(mapCenter:!(38.685509760012,-96.064453125),mapZoom:3),P-3:(vis:(params:(sort:(columnIndex:!n,direction:!n))))),viewMode:view)" frameborder="0"></iframe>

	</div>
</body>
</html>
